<div class="content-wrapper container">
  <p id="notice"><%= notice %></p>

  <h1>Remunerações</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Funcionario</th>
        <th>Salario</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @remuneracoes.each do |remuneracao| %>
      <tr>
        <td><%= remuneracao.funcionario.nome %></td>
        <td><%= remuneracao.salario %></td>
        <td><%= link_to 'Mostrar', remuneracao %></td>
        <td><%= link_to 'Editar', edit_remuneracao_path(remuneracao) %></td>
        <td><%= link_to 'Apagar', remuneracao, method: :delete, data: { confirm: 'Você tem certeza ??' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo', new_remuneracao_path, class: "btn btn-primary" %>
</div>