<div class="content-wrapper container">
  <p id="notice"><%= notice %></p>

  <h1>Turnos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Funcionario</th>
        <th>Entrada</th>
        <th>Saida</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.funcionario.nome %></td>
        <td><%= turno.entrada.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= turno.saida.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= link_to 'Mostrar', turno %></td>
        <td><%= link_to 'Editar', edit_turno_path(turno) %></td>
        <td><%= link_to 'Apagar', turno, method: :delete, data: { confirm: 'Você tem certeza ??' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo', new_turno_path, class: "btn btn-primary" %>
</div>