<div class="content-wrapper container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Funcionario:</strong>
    <%= @turno.funcionario_id %>
  </p>

  <p>
    <strong>Entrada:</strong>
    <%= @turno.entrada.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <strong>Saida:</strong>
    <%= @turno.saida.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <%= link_to 'Editar', edit_turno_path(@turno) %> |
  <%= link_to 'Voltar', turnos_path %>
</div>